<%= render "shared/header" %>

<div class="container">

  <div class="info">
    <ul class="info_points">
      <strong>Take control of your personal health information.</strong>
      <br>
      <br>
      <li>Secure. HIPAA-compliant storage for text, photos, and files.</li>
      <br>
      <li>Simple. Intuitive user interface that doesn't need explaining.</li>
      <br>
      <li>Accessible. Always retrievable anywhere in the world.</li>
    <ul>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <h1>Sign up</h1>
      <form action="<%= users_url %>" method="post">

        <input
          type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">

        <div class="form-group">
          <label for="user_user_name">User Name</label>
          <input type="text"
                 name="user[user_name]"
                 id="user_user_name"
                 value="<%= @user.user_name %>"
                 class="form-control">
          <br>
        </div>

        <div class="form-group">
          <label for="user_password">Password</label>
          <input type="password"
                 name="user[password]"
                 id="user_password"
                 value="<%= @user.password %>"
                 class="form-control">
          <br>
        </div>

        <button type="submit" class="btn btn-primary"> Sign Up </button>
      </form>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
